# Flask and Web Server
Flask==2.3.3
Flask-CORS==4.0.0
Werkzeug==2.3.7
Jinja2==3.1.2
click==8.1.7
itsdangerous==2.1.2
MarkupSafe==2.1.3

# Data Handling and Numerics
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.2
xlrd==2.0.1

# Machine Learning and Forecasting
scikit-learn==1.5.0
statsmodels==0.14.2
prophet==1.1.5
xgboost==2.0.3
joblib==1.4.2
threadpoolctl==3.5.0

# Plotting and Utilities
plotly==5.22.0
scipy==1.13.1
tqdm==4.66.4

# Prophet Dependencies
cmdstanpy==1.2.2
holidays==0.53
convertdate==2.4.0
hijri-converter==2.3.1
korean-lunar-calendar==0.3.1
PyMeeus==0.5.12
LunarCalendar==0.0.9

# Other Utilities
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
setuptools==68.2.2